.skill {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
